# ---- BACKEND ----
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.db
backend/*.log

# ---- VARIABLES DE ENTORNO ----
.env
.env.*

# ---- FRONTEND ----
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/.angular/

# ---- CONFIGURACIÓN Y EDITORES ----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---- DOCKER ----
docker-compose.override.yml
docker/*.log
