# ---- BACKEND ----
backend/venv/
backend/__pycache__/
backend/*.pyc

# ---- VARIABLES DE ENTORNO ----
.env

# ---- FRONTEND ----
frontend/node_modules/
frontend/dist/

# ---- BASE DE DATOS ----
db/*.db
db/__pycache__/

# ---- CONFIGURACIÓN Y EDITORES ----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---- DOCKER ----
*.log
