<div class="flex flex-col md:flex-row w-full h-full justify-center gap-4">
    <div class="w-full md:w-1/2">
            <h2 class="text-xs sm:text-base md:text-lg flex h-10 w-full items-center justify-center">TEST ISOMETRICO BAUMANOMETRO</h2>
            <table class="min-w-full border border-gray-300 rounded-lg">
                <thead class="bg-gray-100 text-gray-700 uppercase">
                    <tr>
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">MUSCULO</th>
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">MMHG</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_hombro" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.extension_hombro" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Aducción hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.aduccion_hombro" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.I de hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.r_i_de_hombro" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.E de hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.r_e_de_hombro" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de codo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_de_codo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de codo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.extension_de_codo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_de_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.extension_de_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lgv p-2 capitalize text-gray-700 font-medium">Abducción de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.abduccion_de_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                   <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Aducción de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.aduccion_De_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                   <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.I de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.r_i_de_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.E de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.r_e_de_cadera" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de rodilla</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_de_rodilla" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de rodilla</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.extension_de_rodilla" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión plantar tobillo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_plantar_tobillo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión dorsal tobillo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="text" [(ngModel)]="this.testIsometricoBaumanometro.flexion_dorsal_tobillo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                </tbody>
            </table>
    </div>


    <div class="w-full md:w-1/2 overflow-x-auto">
            <h2 class=" flex h-10 w-full items-center justify-center">TEST ISOTONICO CON PESO</h2>
            <table class="min-w-full border border-gray-300 rounded-lg">
                <thead class="bg-gray-100 text-gray-700 uppercase">
                    <tr>
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">MUSCULO</th>
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">KG DERECHO</th>
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">KG IZQUIERDO</th> 
                        <th class="text-xs sm:text-base md:text-lg px-6 py-3 border-b">R=</th>                         
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.flexion_hombro.kgDerecho" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.flexion_hombro.KgIquierdo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.flexion_hombro.resultado" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_hombro.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_hombro.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_hombro.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Aducción hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.aduccion_hombro.kgDerecho" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.aduccion_hombro.KgIquierdo" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input type="number" [(ngModel)]="this.testIsotonicoConPeso.aduccion_hombro.resultado" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.I de hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_hombro.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_hombro.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_hombro.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.E de hombro</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_hombro.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_hombro.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_hombro.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de codo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_codo.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_codo.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_codo.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de codo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_codo.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_codo.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_codo.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_cadera.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_cadera.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Abducción de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.abduccion_de_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.abduccion_de_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.abduccion_de_cadera.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                   <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Aducción de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.aduccion_De_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.aduccion_De_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.aduccion_De_cadera.resultado"  type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                   <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.I de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_i_de_cadera.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">R.E de cadera</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_cadera.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_cadera.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.r_e_de_cadera.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión de rodilla</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_rodilla.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_rodilla.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_de_rodilla.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Extensión de rodilla</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_rodilla.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_rodilla.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.extension_de_rodilla.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión plantar tobillo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_plantar_tobillo.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_plantar_tobillo.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_plantar_tobillo.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="text-xs sm:text-base md:text-lg p-2 capitalize text-gray-700 font-medium">Flexión dorsal tobillo</td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_dorsal_tobillo.kgDerecho" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_dorsal_tobillo.KgIquierdo" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                        <td class="text-xs sm:text-base md:text-lg p-2"><input [(ngModel)]="this.testIsotonicoConPeso.flexion_dorsal_tobillo.resultado" type="number" class="border border-gray-300 rounded-lg p-2 w-full focus:outline-none focus:ring focus:ring-blue-200"></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
