<div class="flex w-full items-center justify-between px-6 py-4 bg-white shadow">
  <h1 class="flex flex-col text-xs md:text-lg  sm:text-base font-semibold text-gray-800">
    Nombre: {{paciente?.nombre}} {{paciente?.apellidos}} 
    <span class="text-sm text-gray-500"> Matricula: {{paciente?.folio}} </span>
  </h1>
  <button (click)="emitirEvento()"  class="bg-[#17295c] font-semibold hover:bg-blue-600 text-white
                                    px-4 py-2 md:px-4 md:py-2 px-3 py-1
                                    rounded-lg transition text-sm md:text-base">
    GUARDAR
  </button>
</div>