<div class="flex flex-col md:flex-row w-full h-full justify-center gap-4">
    <div class="flex flex-col w-full border">
        <h2 class=" flex h-10 w-full items-center justify-center border border-gray-300">ANTECEDENTES OBSTÉTRICOS</h2>

        <div class="flex flex-col w-full p-2 space-y-2">
            <p>Vida sexual</p>
            <div class="flex px-4">
                <input type="text" placeholder="Ejemplo: 20 años" class="border border-gray-300 rounded-lg p-1 w-[20] focus:outline-none focus:ring focus:ring-blue-200">
            </div>
        </div>
        <div class="flex flex-col w-full p-2 space-y-2">
            <p>Metodos de protección</p>
            <div class="flex px-4">
                <select name="protec" id="metodo" class="border border-gray-300 rounded-lg p-1 w-[220px] focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="Métodos de Barrera">Métodos de Barrera</option>
                    <option value="Métodos Anticonceptivos">Métodos Anticonceptivos</option>
                </select>
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>Enfermedades de transmisión sexual</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[300px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cual">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Actualmente estas embarazada?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cuanto tiempo">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Tipos de partos?</p>
            <div class="flex w-full px-4">
                <div class="flex w-full flex-col items-center justify-center">
                <p>Parto natural</p>
                <input type="checkbox">
                </div>
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200 text-center"  placeholder="cuantas">
            </div>
            <div class="flex w-full px-4">
                <div class="flex w-full flex-col items-center justify-center">
                <p>Parto por cesaria</p>
                <input type="checkbox">
                </div>
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200 text-center" placeholder="cuantas">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Tuvo complicación(es) durante el/los parto(s)?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cual">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Lactancia(Tiempo,uso de formula)?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cuanto tiempo">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Abortó?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cuantos">
            </div>
        </div>
    </div>
    
    <div class="flex flex-col w-full border">
        <h2 class=" flex h-10 w-full items-center justify-center border border-gray-300">ANTECEDENTES GINECOLÓGICOS</h2>

        <div class="flex flex-col w-full p-2 space-y-2">
            <p>Primera menarca</p>
            <div class="flex gap-6 px-4">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[20] focus:outline-none focus:ring focus:ring-blue-200">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>FUM (Fecha de la última menstruación)</p>
            <div class="flex w-full gap-6 px-4">
                <input type="date" class="border border-gray-300 rounded-lg p-1 w-[300px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cual">
            </div>
        </div>
        <div class="flex w-full p-2">
            <div class="flex flex-col space-y-2 p-2">
            <p>Período de sangrado</p>
            <div class="flex w-full gap-4 px-4">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[100px] focus:outline-none focus:ring focus:ring-blue-200">
            </div>
            </div>
            <div class="flex flex-col space-y-2 p-2">
            <p>Tipo de Flujo</p>
            <select name="flujo" id="tipoflujo" class="border border-gray-300 rounded-lg p-1 w-[100px] focus:outline-none focus:ring focus:ring-blue-200">
                <option value="Leve">Leve</option>
                <option value="Moderado">Moderado</option>
                <option value="Abundante">Abundante</option>
            </select>
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Medicamentos?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar cual">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-2 p-2">
            <p>¿Menopausia?</p>
            <div class="flex w-full gap-6 px-4">
                <input type="checkbox">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[350px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Si la respuesa es si, mencionar si tiene sintomas">
            </div>
        </div>
        <div class="flex w-full p-2">
            <div class="flex flex-col space-y-2 p-2">
            <p>Dismenorrea:</p>
            <div class="flex w-full gap-4 px-4">
                <input type="text" class="border border-gray-300 rounded-lg p-1 w-[100px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Síntomas">
            </div>
            </div>
            <div class="flex flex-col space-y-2 p-2">
            <p>Amenorrea:</p>
             <input type="text" class="border border-gray-300 rounded-lg p-1 w-[100px] focus:outline-none focus:ring focus:ring-blue-200" placeholder="Síntomas">
            </div>
        </div>
    </div>
</div>