:host {
  display: block;
  width: 100%;
}

.agregar-paciente-container {
  width: 100%;
  background: transparent;
}

.form-input {
  transition: all 0.2s ease;
  
  &:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  }
}

// Estilos para el select personalizado en inputs de fecha
input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    cursor: pointer;
  }
}